<nav>
    <!-- Public navigation -->
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'sighting-list' %}">Sightings</a>
    <a href="#">Aircraft</a>
    <a href="#">Airports</a>

    <!-- User navigation -->
    {% if user.is_authenticated %}
        <a href="{% url 'sighting-create' %}">Add Sighting</a>
        <a href="{% url 'collection-list' %}">My Collections</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'profile-details' pk=request.user.pk %}">Profile</a>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</nav>